#container {
	height: 600px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
	background-color: grey;

}

#showGraph {
	height: 600px;
	width: 70%;
	float: left;
	background-color: pink;
}

#box {
	height: 600px;
	width: 30%;
	margin-right: 0px;
	text-align: center;
	box-sizing: border-box;
	display: inline-block;
	background-color: #34495e;
}

h2, h3, h4 {
	color: white;
}